
fastapi
uvicorn[standard]
langchain
langchain-community
langchain-groq
langchain-openai
langchain-ollama
langchain-text-splitters
langchain-huggingface

faiss-cpu
sentence-transformers
rank-bm25
python-dotenv
pydantic
beautifulsoup4
requests


